# Виртуальное окружение (НИКОГДА не грузи его в git!)
venv/
.env

# Файлы базы данных (SQLite)
*.db
app.db
instance/*.db

# Питонские кэши и метаданные
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Логи и временные файлы
*.log
*.tmp
*.swp
*~
.DS_Store
Thumbs.db

# IDE файлы (VS Code, PyCharm)
.vscode/
.idea/
*.iml

#Миграции
migrations/versions/*.py
!migrations/versions/__init__.py
