<!doctype html>
<html lang="en">
    
    <head>
       
        {% if title %}
        <title>{{ title }} - Судья</title>
        {% else %}
        <title>Добро пожаловать в блог Судья</title>
        {% endif %}
    <!--
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote-bs5.min.css" rel="stylesheet">
    -->
    {{ bootstrap.load_css() }}
    <!--
    <link href="/static/summernote-bs5.min.css" rel="stylesheet">
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    







    <meta charset="utf-8">
    </head>
    <body class="p-3">
    
       <nav class=" border rounded navbar navbar-light" style="background-color: #e3f2fd; justify-content-end" > 
       <div class="px-4">
            Judge:
            <a href="{{ url_for('index') }}">Домой</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Войти</a>
            {% else %}
            <a href="{{ url_for('tasks_list') }}">Задачи</a>
            <a href="{{ url_for('user', username=current_user.username) }}">Профиль</a>
            <a href="{{ url_for('logout') }}">Выйти</a>
            
            {% if current_user.role and current_user.role.rolename == 'admin' %}
               <a href="{{ url_for('view_users') }}">Пользователи</a>
               <a href="{{ url_for('view_solutions') }}">Решения</a>
               <a href="{{ url_for('admin_users') }}">Админпанель</a>
               <a href="{{ url_for('create_task') }}">Создать задачу</a>
               <a href="{{ url_for('create_topic') }}">Создать тему</a>
            {% endif %}

            {% endif %}
        </div>
        </nav>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}
        {{bootstrap.load_js()}}
        {% block scripts %}
            <!-- jQuery обязателен для Summernote
             <script src="summernote-bs5.js"></script>
              -->
             
       
        {% endblock %}
    </body>
   
</html>
