{% extends "base.html" %}

{% block content %}
<table>
        <tr valign="top">
            
            <td>
                Задача: {{ task.id }}
                <h1>{{task.title}}</h1>
                <p>{{task.content|safe}}</p>
                {% if is_admin()%}<p> Ответ: {{task.answer}}{% endif %}
                <p>Тема: {{task.subject}}<br>
                Рейтинг: {{task.rating}}</p>
                
            </td>
            
        </tr>
        
</table>
<br>
<br>
{% from 'bootstrap5/form.html' import render_form %}

    <div class="row justify-content-left">
        <div class="col-md-6">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                {{ render_form(form) }}
            </form>
        </div> 
    </div>

<br><br>
{% if solution %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID Решения</th>
                <th>Пользователь</th>
                <th>Текст решения</th>
                <th>Статус</th>
                <th>Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for sol in solution %}
            <tr>
                <td>{{ sol.id }}</td>
                <!-- Благодаря selectinload, обращение sol.solver не делает новый запрос к БД -->
                <td>
                    <a href="{{ url_for('user', username=sol.solver.username) }}">
                        {{ sol.solver.username }}
                    </a>
                </td>
                <td style="max-width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                    {{ sol.content[:100] }}{% if sol.content|length > 100 %}...{% endif %}
                </td>
                <td>
                    {% if sol.accept %}
                        <span class="badge bg-success">Принято ✅</span>
                    {% else %}
                        <span class="badge bg-danger">Неверно ⚠️</span>
                    {% endif %}
                </td>
                <td>{{ sol.created_date.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        У вас пока нет отправленных решений.
    </div>
{% endif %}

{% endblock %}